*{
    font-family: 'Roboto', sans-serif;

}


.horario {
    cursor: pointer;
}

.horario:hover {
    background-color: #ccc;
}

.desactivado-horario {
    cursor: default;
    background-color: #ccc;
}

.inactivo {
    display: none;
}

.banner{
    min-height: 280px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: -100px -190px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

